@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<QuanLyLopHoc.Models.Entities.Subject>

@{
    ViewData["Title"] = "Danh sách môn học đã tham gia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="grid place-items-center pt-4 pb-2 md:grid-cols-2 rounded-t-lg backdrop-blur-sm bg-gray-600/30">
    <h1 class="mr-auto mx-3 text-lg font-bold text-blue-500">Danh sách môn học của bạn</h1>
    <div class="ml-auto mx-3">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full shadow-lg">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                     fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
            <input type="text" id="simple-search"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                   placeholder="Search" required>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="grid grid-cols-2 lg:grid-cols-5 md:grid-cols-4 gap-4 w-fit">
        @foreach (var item in Model)
        {
            <div class="m-4 max-w-xs bg-white border rounded-lg shadow dark:border-gray-700">
                <div class="h-full flex flex-col">
                    <a href="https://localhost:7080/Student/Index#">
                        <img class="rounded-t-lg"
                             src="https://flowbite.com/docs/images/blog/image-1.jpg"
                             alt="">
                    </a>
                    <a href="https://localhost:7080/Student/Index#"
                       class="mt-auto h-full block max-w-sm p-6 bg-white border border-gray-200 rounded-b-lg shadow hover:bg-gray-100 ">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                            @Html.DisplayFor(modelItem => item.SubjectName)
                        </h5>
                        <p class="font-normal text-ellipsis overflow-hidden text-gray-700 dark:text-gray-400">
                            @if (@Html.DisplayFor(modelItem => item.Description) != null)
                            {
                                @Html.DisplayFor(modelItem => item.Description)
                            }
                        </p>
                    </a>
                </div>
            </div>
        }
    </div>
    @if (Model.Count() > 0)
    {
        @Html.PagedListPager((IPagedList)Model, page=> Url.Action("Index", new {page = page}),
    new X.PagedList.Web.Common.PagedListRenderOptions{
        //DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new []{"navigation flex items-center justify-center "},
        UlElementClasses = new[]{"inline-flex -space-x-px"},
        LiElementClasses = new[]{""},
        PageClasses = new[]{"page-link px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 "},
    })
    }
}
@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@