@model IEnumerable<QuanLyLopHoc.Models.Entities.User>
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    var model = ViewData["listUser"] as List<QuanLyLopHoc.Models.Entities.User>;
}
@if (model != null)
{
    @foreach (var item in model)
    {
        <li id="@Html.DisplayFor(modelItem=>item.Id)" class="border p-2 hover:bg-gray-100">
            <a href="/Message/?id=@item.Id"
               class="flex flex-row ">
                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                    @if (item.Avatar == null)
                    {
                        <span class="font-medium text-gray-600 dark:text-gray-300">@item.LastName.Split(' ').Last()[0]</span>
                    }
                    else
                    {
                        <img src="@item.Avatar" />
                    }
                </div>
                <div class="pl-1">
                    <p class="text-base text-gray-950"> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</p>
                    <p class="text-sm text-gray-500">
                        <span class="mr-1">Email:</span>@Html.DisplayFor(modelItem => item.Email)
                    </p>
                </div>
            </a>
        </li>
    }
}
else
{
    <p>Không tìm thấy người dùng</p>
}
@*<script type="text/javascript" src="~/js/site.js"></script>*@
